<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GOOGLE_TTS_API_KEY</key>
	<string>AIzaSyAoINxQ_SZUNdgaTvpbnhH3h08xpyl2dZE</string>
	<key>AZURE_TTS_SUBSCRIPTION_KEY</key>
	<string>7NW0GsaDRpwhcnFvroHLO7k343Zv3QiMtZsigwAuQ4O5xOVC4xnOJQQJ99CBACYeBjFXJ3w3AAAYACOGXZRW</string>
	<key>AZURE_TTS_REGION</key>
	<string>eastus</string>
</dict>
</plist>
